*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #071738;
    color: #fff;
    font-family: 'Roboto',
        sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
}

.registro_container {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}

.registro_container input {
    border: none;
    color: #0a1630;
    font-weight: 700;
    background: #8db3ff;
    width: 7em;
    height: 3em;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-out;
}

.registro_container input:hover {
    background: #95f593;
    color: #202020;
}

.table {
    border-spacing: 0;

}

th,
td {
    border-bottom: 2px solid #8db3ff;
    border-spacing: 0;
    padding: 10px;
    width: 10em;
    text-align: center;
}


tbody tr {
    background: rgb(67, 74, 112);
}



/* modal */

.modal {
    margin: auto;
    width: 40em;
    height: 25em;
    border-radius: 20px;
    background: #e5edff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow: hidden;
    display: none;
}

.container_modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container_description {
    width: 90%;
    height: 80%;
    padding: 20px;
}


input[type="text"],
input[type="date"] {
    padding: 10px;
    ;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    height: 100%;
}

textarea {
    height: 80%;
    resize: none;
}


/*-----*/
.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn_edit {
    border: none;
    padding: 10px;
    background: #2aff1b;
    color: #071738;
    cursor: pointer;
    border-radius: 5px;
}

.btn_delete {
    border: none;
    padding: 10px;
    background: #ff5959;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}


.pending {
    background: #ff5959;
    color: #071738;
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
}

.fullize {
    background: #2aff1b;
    padding: 5px;
    color: #071738;
    border-radius: 5px;
    font-weight: 800;
}


.btn_cancelar {
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #ff5959;
    color: #e5edff;
    font-weight: 800;
    border-radius: 10px;
}

.btn_register {
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #95f593;
    color: #071738;
    font-weight: 800;
    border-radius: 10px;
}




/* alert */

.alert {
    width: 20em;
    height: 4em;
    border-radius: 20px;
    background: rgb(199, 255, 215);
    position: absolute;
    right: 0;
    margin: 50px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
    animation: down 1s ease;
}


.alert>p,
.alert span {
    font-weight: 700;
    color: #071738;
}



@keyframes down {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
        display: none;
    }
}